/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Roboto Slab', serif;
	line-height: 1;
	color: #505050;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #505050;
}

h1 { font-size: 2.5em; line-height: 1.3; }
h2 { font-size: 2em; line-height: 1.3; }
h3 { font-size: 1.67em; line-height: 1.3; }
h4 { font-size: 1.4em; line-height: 1.2; }
h5 { font-size: 1.2em; line-height: 1.2; }
h6 { font-size: 1.1em; line-height: 1.2; }
p { font-size: 1.2em;line-height: 1.22; }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

strong {
	font-weight: bold;
}

/* ----- MAIN STYLING ----- */

#preloading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	justify-content: center;
	z-index: 11;
	background-color: #fff;
}

	#preloader,
	#preloader:before,
	#preloader:after {
	  background: #505050;
	  -webkit-animation: load1 .75s infinite ease-in-out;
	  animation: load1 .75s infinite ease-in-out;
	  width: 1em;
	  height: 4em;
	}
	#preloader:before,
	#preloader:after {
	  position: absolute;
	  top: 0;
	  content: '';
	}
	#preloader:before {
	  left: -1.5em;
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}
	#preloader {
	  text-indent: -9999em;
	  position: relative;
	  font-size: 11px;
	  margin-top: 25%;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
	#preloader:after {
	  left: 1.5em;
	}
	@-webkit-keyframes load1 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0 #505050;
	    height: 4em;
	  }
	  30% {
	    box-shadow: 0 -1.25em #505050;
	    height: 4.75em;
	  }
	}
	@keyframes load1 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0 #505050;
	    height: 4em;
	  }
	  30% {
	    box-shadow: 0 -1.25em #505050;
	    height: 4.75em;
	  }
	}


header, main, footer {
	width: 100%;
}

main {
	position: relative;
	z-index: 1;
	background-color: #fff;
}

#page-wrap {
	position: relative;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

nav {
	position: absolute;
	height: 60px;
	width: 100%;
	top: -60px;
	right: 0;
	left: 0;
	display: table;
	z-index: 5;
	border-bottom: 2px solid #505050;
	background: #fff;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

nav h5 {
	display: table-cell;
	text-align: center;
	width: 25%;
	position: relative;
}

nav h5 a {
	line-height: 60px;
	height: 60px;
	width: 100%;
	color: #505050;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

nav h5 a:hover {
	background: #505050;
	color: #fff!important;
}

#menuBtn {
	height: 62px;
	width: 72px;
	position: absolute;
	top: 42px;
	right: 10%;
	border: 2px solid #505050;
	background: #505050;
	color: #fff;
	z-index: 10;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
}

#menuBtn:hover {
	border: 2px solid #fff;
}

/* ----- SVG ----- */

.si-icons span {
	display: inline-block;
	width: 70px;
	height: 70px;
	margin: 40px 30px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}

.si-icons-hover span {
	width: 128px;
	height: 128px;
	margin: 50px 40px;
}

.no-svg .si-icon-hamburger, .no-svg .si-icon-hamburger-cross { background-image: url('../images/hamburger.png') }



/* ----- HOME HEADER ----- */

canvas {
	opacity: .6;
}

#home {
	min-height: 500px;
	position: relative;
	overflow: hidden;
	animation-duration: .5s;
	animation-iteration-count: 1;
}

#patternOverlay:before {
  content: "";
  background: url('../images/bg.jpg');
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#home-wrap {
	position: absolute;
	top: 200px;
	left: 10%;
	margin-right: 10%;
	padding: 20px;
	border: 2px solid #505050;
	background: #fff;
	opacity: .85;
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

#home-wrap h1 {
	font-size: 3.8em;
	font-weight: 700;
	color: #505050;
	cursor: default;
}

#sub {
	margin-top: 5px;
	cursor: default;
	display: block;
	color: #505050;
	text-align: right;
}

video#bgvid {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url('../images/home-video.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#workBtn {
	position: absolute;
	left: 50%;
	margin-left: -65px;
	bottom: 40px;
	font-size: 1.7em;
	padding: 10px 15px;
	border: 2px solid #505050;
	background: #505050;
	color: #fff;
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

#workBtn:hover {
	background: #fff;
	color: #505050;
	cursor: pointer;
}

/* ----- HORIZONTAL CASE ----- */

.full-case { 
	display: block;
	width: 100%;
	position: relative;
	clear: both;
	color: #fff;
	-webkit-transition: background .05s ease-in-out;
	-moz-transition: background .05s ease-in-out;
	-ms-transition: background .05s ease-in-out;
	-o-transition: background .05s ease-in-out;
	transition: background .05s ease-in-out;
	cursor: url('../images/plus.png'), pointer;
}

	.full-case:active {
		cursor: url('../images/plus-down.png'), pointer;
	}

.full-case img {
	width:50%;
	min-width: 350px;
}

.one img{
	float: right;
}

.two img {
	float: left;
}

.title {
	position: absolute;
	top: 22%;
	width: 55%;
	min-width: 390px;
}

.title p {
	font-size: 1.05em;
}

.one .title {
	left: 6%;
	text-align: right;
}

.two .title {
	right: 6%;
	text-align: left;
}

.fullbg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.full-case:hover .fullbg {
	background: #505050;
}

.full-case h2 {
	font-size: 2.5em;
}

.full-case h3 {
	font-size: 1.5em;
}

.full-case p {
	padding-top: 8px;
	letter-spacing: 0.5px;
	line-height: 1.4;
}

.full-case a:hover h2 {
	color: #fff;
}

.full-case a:hover p {
	color: #fff;
}

/* ----- INNER CONTENT ----- */

.slim-content-wrap {
	margin: 50px 20% 30px;
	min-height: 400px;
}

#case-content {
	margin: 30px auto;
	min-height: 800px;
	width: 95%;
	max-width: 1600px;
	background: #fff;
}

#gallery-wrap {
	
}

/* ----- ABOUT ----- */

#about {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

#about h2 {
	padding-bottom: 18px;
}

#about h3 {
	padding-bottom: 13px;
	font-size: 1.27em;
}

#about h4 {
	padding: 13px 15% 25px;
	text-align: center;
}

#about p {
	font-size: 1.17em;
	line-height: 1.25;
	padding-bottom: 13px;
}

#contact {
	margin: 30px 0 0 0;
	text-align: center;
}

#contact h2 {
	font-size: 1.53em;
	padding-bottom: 10px;
}

#contact h3 a {
	word-wrap: break-word;
}

#social-icons i {
	margin: 0 6px;
	padding: 0 6px;
}

#social-icons {
	margin: 10px 0 55px 0;
	text-align: center;
}

#social-icons i:hover {
	cursor: pointer;
	color: #fff;
	background: #505050;
	border-radius: 17px;
}

/* ----- CASE INNER HEADER ----- */

#case-header {
	min-height: 200px;
	position: relative;
}

.bg {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	z-index: -1;
}

.valhaven, .full-case .gal-valhaven {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #ffffff 9%, #ea1f3d 9%, #ea1f3d 53%, #f9ec23 53%, #f9ec23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(9%,#ffffff), color-stop(9%,#ea1f3d), color-stop(53%,#ea1f3d), color-stop(53%,#f9ec23), color-stop(100%,#f9ec23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#ffffff 9%,#ea1f3d 9%,#ea1f3d 53%,#f9ec23 53%,#f9ec23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ffffff 0%,#ffffff 9%,#ea1f3d 9%,#ea1f3d 53%,#f9ec23 53%,#f9ec23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#ffffff 9%,#ea1f3d 9%,#ea1f3d 53%,#f9ec23 53%,#f9ec23 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ffffff 0%,#ffffff 9%,#ea1f3d 9%,#ea1f3d 53%,#f9ec23 53%,#f9ec23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9ec23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.balloonroom, .full-case .gal-balloonroom {
	background: #1ed2ed; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1ed2ed 0%, #1ed2ed 66%, #1ed2ed 67%, #ed6c1e 67%, #ed6c1e 71%, #40ed1e 71%, #40ed1e 73%, #40ed1e 73%, #40ed1e 74%, #ed1e32 74%, #ed1e32 78%, #ed1eba 78%, #ed1eba 83%, #edeb1e 83%, #edeb1e 86%, #1ed2ed 86%, #1ed2ed 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1ed2ed), color-stop(66%,#1ed2ed), color-stop(67%,#1ed2ed), color-stop(67%,#ed6c1e), color-stop(71%,#ed6c1e), color-stop(71%,#40ed1e), color-stop(73%,#40ed1e), color-stop(73%,#40ed1e), color-stop(74%,#40ed1e), color-stop(74%,#ed1e32), color-stop(78%,#ed1e32), color-stop(78%,#ed1eba), color-stop(83%,#ed1eba), color-stop(83%,#edeb1e), color-stop(86%,#edeb1e), color-stop(86%,#1ed2ed), color-stop(101%,#1ed2ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #1ed2ed 0%,#1ed2ed 66%,#1ed2ed 67%,#ed6c1e 67%,#ed6c1e 71%,#40ed1e 71%,#40ed1e 73%,#40ed1e 73%,#40ed1e 74%,#ed1e32 74%,#ed1e32 78%,#ed1eba 78%,#ed1eba 83%,#edeb1e 83%,#edeb1e 86%,#1ed2ed 86%,#1ed2ed 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #1ed2ed 0%,#1ed2ed 66%,#1ed2ed 67%,#ed6c1e 67%,#ed6c1e 71%,#40ed1e 71%,#40ed1e 73%,#40ed1e 73%,#40ed1e 74%,#ed1e32 74%,#ed1e32 78%,#ed1eba 78%,#ed1eba 83%,#edeb1e 83%,#edeb1e 86%,#1ed2ed 86%,#1ed2ed 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #1ed2ed 0%,#1ed2ed 66%,#1ed2ed 67%,#ed6c1e 67%,#ed6c1e 71%,#40ed1e 71%,#40ed1e 73%,#40ed1e 73%,#40ed1e 74%,#ed1e32 74%,#ed1e32 78%,#ed1eba 78%,#ed1eba 83%,#edeb1e 83%,#edeb1e 86%,#1ed2ed 86%,#1ed2ed 101%); /* IE10+ */
	background: linear-gradient(135deg, #1ed2ed 0%,#1ed2ed 66%,#1ed2ed 67%,#ed6c1e 67%,#ed6c1e 71%,#40ed1e 71%,#40ed1e 73%,#40ed1e 73%,#40ed1e 74%,#ed1e32 74%,#ed1e32 78%,#ed1eba 78%,#ed1eba 83%,#edeb1e 83%,#edeb1e 86%,#1ed2ed 86%,#1ed2ed 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ed2ed', endColorstr='#1ed2ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.vancity, .full-case .gal-vancity {
	background: #e6f3f7; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #e6f3f7 7%, #90cb44 7%, #90cb44 7%, #90cb44 34%, #1385ac 34%, #1385ac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(7%,#e6f3f7), color-stop(7%,#90cb44), color-stop(7%,#90cb44), color-stop(34%,#90cb44), color-stop(34%,#1385ac), color-stop(100%,#1385ac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #e6f3f7 7%,#90cb44 7%,#90cb44 7%,#90cb44 34%,#1385ac 34%,#1385ac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #e6f3f7 7%,#90cb44 7%,#90cb44 7%,#90cb44 34%,#1385ac 34%,#1385ac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #e6f3f7 7%,#90cb44 7%,#90cb44 7%,#90cb44 34%,#1385ac 34%,#1385ac 100%); /* IE10+ */
	background: linear-gradient(135deg,  #e6f3f7 7%,#90cb44 7%,#90cb44 7%,#90cb44 34%,#1385ac 34%,#1385ac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f3f7', endColorstr='#1385ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.jibe, .full-case .gal-jibe {
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #e1e1e1 4%, #3e3e40 4%, #3e3e40 20%, #418ed6 20%, #418ed6 26%, #418ed6 26%, #252629 26%, #252629 40%, #0e0e0e 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(4%,#e1e1e1), color-stop(4%,#3e3e40), color-stop(20%,#3e3e40), color-stop(20%,#418ed6), color-stop(26%,#418ed6), color-stop(26%,#418ed6), color-stop(26%,#252629), color-stop(40%,#252629), color-stop(40%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #e1e1e1 4%,#3e3e40 4%,#3e3e40 20%,#418ed6 20%,#418ed6 26%,#418ed6 26%,#252629 26%,#252629 40%,#0e0e0e 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #e1e1e1 4%,#3e3e40 4%,#3e3e40 20%,#418ed6 20%,#418ed6 26%,#418ed6 26%,#252629 26%,#252629 40%,#0e0e0e 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #e1e1e1 4%,#3e3e40 4%,#3e3e40 20%,#418ed6 20%,#418ed6 26%,#418ed6 26%,#252629 26%,#252629 40%,#0e0e0e 40%); /* IE10+ */
	background: linear-gradient(135deg,  #e1e1e1 4%,#3e3e40 4%,#3e3e40 20%,#418ed6 20%,#418ed6 26%,#418ed6 26%,#252629 26%,#252629 40%,#0e0e0e 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.mics, .full-case .gal-mics {
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #e1e1e1 6%, #77c044 6%, #77c044 50%, #4f803b 50%, #4f803b 81%, #454545 81%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,#e1e1e1), color-stop(6%,#77c044), color-stop(50%,#77c044), color-stop(50%,#4f803b), color-stop(81%,#4f803b), color-stop(81%,#454545)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #e1e1e1 6%,#77c044 6%,#77c044 50%,#4f803b 50%,#4f803b 81%,#454545 81%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #e1e1e1 6%,#77c044 6%,#77c044 50%,#4f803b 50%,#4f803b 81%,#454545 81%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #e1e1e1 6%,#77c044 6%,#77c044 50%,#4f803b 50%,#4f803b 81%,#454545 81%); /* IE10+ */
	background: linear-gradient(135deg,  #e1e1e1 6%,#77c044 6%,#77c044 50%,#4f803b 50%,#4f803b 81%,#454545 81%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#454545',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.glassbellows, .full-case .gal-glassbellows {
	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #d9d9d9 2%, #929292 2%, #929292 2%, #929292 25%, #929292 25%, #ed4649 25%, #ed4649 30%, #40a6f4 30%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,#d9d9d9), color-stop(2%,#929292), color-stop(2%,#929292), color-stop(25%,#929292), color-stop(25%,#929292), color-stop(25%,#ed4649), color-stop(30%,#ed4649), color-stop(30%,#40a6f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #d9d9d9 2%,#929292 2%,#929292 2%,#929292 25%,#929292 25%,#ed4649 25%,#ed4649 30%,#40a6f4 30%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #d9d9d9 2%,#929292 2%,#929292 2%,#929292 25%,#929292 25%,#ed4649 25%,#ed4649 30%,#40a6f4 30%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #d9d9d9 2%,#929292 2%,#929292 2%,#929292 25%,#929292 25%,#ed4649 25%,#ed4649 30%,#40a6f4 30%); /* IE10+ */
	background: linear-gradient(135deg,  #d9d9d9 2%,#929292 2%,#929292 2%,#929292 25%,#929292 25%,#ed4649 25%,#ed4649 30%,#40a6f4 30%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#40a6f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.valhavenBtn {
	background: #ea1f3d;
}

.valhavenBtn:hover {
	background: #f9ec23;
}

.balloonroomBtn {
	background: #1ed2ed;
}

.balloonroomBtn:hover {
	background: #ed6c1e;
}

.vancityBtn {
	background: #90cb44;
}

.vancityBtn:hover {
	background: #1385ac;
}

.jibeBtn {
	background: #418ed6;
}

.jibeBtn:hover {
	background: #252629;
}

.micsBtn {
	background: #77c044;
}

.micsBtn:hover {
	background: #4f803b;
}

.glassbellowsBtn {
	background: #ed4649;
}

.glassbellowsBtn:hover {
	background: #40a6f4;
}

.full-case:hover .gal-vancity, .full-case:hover .gal-mics, .full-case:hover .gal-jibe, .full-case:hover .gal-glassbellows, .full-case:hover .gal-balloonroom, .full-case:hover .gal-valhaven {
	opacity: .85;
}

#case-header-wrap {
	position: absolute;
	top: 200px;
	left: 10%;
	margin-right: 10%;
	color: #fff;
	padding: 20px;
	border: 2px solid #fff;
	font-size: 2.5em;
}

#case-header-wrap h1 {
	font-size: 2.5em;
	line-height: 1.3;
	word-break: break-word;
	word-wrap: normal;
	width: auto;
}

#scrollBtn {
	color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -65px;
	bottom: 40px;
	font-size: 1.7em;
	padding: 10px 15px;
	border: 2px solid #fff;
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

#scrollBtn:hover {
	background: #fff;
	color: #505050;
	cursor: pointer;
}

/* ----- STATIC INNER HEADER ----- */

#static-header {
	min-height: 155px;
	position: relative;
}

#static-header-wrap {
	position: absolute;
	top: 20px;
	left: 10%;
	
}

#static-header-wrap h1 {
	color: #505050;
	padding: 20px;
	border: 2px solid #505050;
	font-size: 3.5em;
}

#static-header-wrap a:hover {
	background: #505050;
	color: #fff;
}

/* ----- CASE CONTENT ----- */

#synopsis {
	margin-top: 20px; 
	width: 30%;
	float: right;
}

#visit-site {
	border: none;
    font-size: 1.45em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    outline: none;
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.project-info {
	background: #505050;
	color: #fff;
	width: 86%;
	padding: 1% 7% 7%;
	margin: 10px 0;
}

.project-info a {
	text-decoration: underline;
	color: #fff;
}

.project-info h4 {
	margin: 15px 0 3px 0;
}

.project-info h5 {
	margin: 3px 0 3px 8px;
}

.project-info h5 {
	margin: 3px 0 3px 8px;
}

#project-desc {
	width: 100%;
}

#project-desc h4 {
	margin: 15px 4%;
}

#project-desc p {
	margin: 15px 4%;
	line-height: 1.35;
}

#project-desc a {
	text-decoration: underline;
}

#project {
	width: 70%;
	float: right;
	text-align: center;
	margin-bottom: 30px;
}

#project img {
	width: 90%;
	box-shadow: 0px 0px 5px 1px #888888;
	margin: 25px auto;
}

#project h4 {
	margin: 25px 0 10px 0;
}

#project .no-drop {
	box-shadow: none;
	width: 100%;
}

.project-line {
	background: #505050;
	height: 1px;
	width: 75%;
	margin: 10px auto;
	display: block;
}

.project-info-line {
	background: #fff;
	height: 1px;
	width: 100%;
	margin: 10px auto;
	display: block;
}

#case-nav {
	width: 30%;
	float: right;
	clear: both;
}

#case-nav #prev, #case-nav #next {
	float: left;
	width: 40%;
	text-align: center;
	color: #fff;
	/*background: #505050;*/
	height: 50px;
	line-height: 50px;
	font-size: 1.2em;
}

#case-nav #go-home {
	float: left;
	width: 20%;
	text-align: center;
	color: #fff;
	/*background: #505050;*/
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
}

/*#case-nav #prev:hover, #case-nav #next:hover, #case-nav #go-home:hover {
	background: #fff;
	color: #505050;
}*/

/* ----- FOOTER ----- */

footer {
	background: #505050;
}

footer #content {
	height: auto;
	margin: 0 10%;
	padding: 30px 0;
	color: #fff;
	text-align: center;
}

footer #content p {
	padding: 0 0 3px 0;
}

footer #content a {
	color: #fff;
}

footer #copyright {
	padding: 13px 0 0 0!important;
	font-size: 1em;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* ----- RESPONSIVE ----- */

@media only screen and (max-width: 48em)
{
	#synopsis, #project {
		width: 100%;
	}

	.project-info {
		float: right;
		width: 36%;
		clear: both;
		margin: 10px 0 10px 25px;
	}

	#visit-site {
		float: right;
		width: 50%;
		clear: both;
	}

	#case-nav {
		width: 90%;
		margin: 0 auto;
		float: none;
	}
}

@media only screen and (max-width: 44em)
{

	#home-wrap h1 {
		font-size: 2.9em;
	}
	
	.full-case img {
		width: 100%;
	}

	.one .title, .two .title {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.full-case h2 {
		position: absolute;
		top: 5%;
		width: 100%;
	}

	.full-case h3 {
		display: none;
	}

	.full-case p {
		position: absolute;
		bottom: 6%;
		width: 100%;
	}

}

@media only screen and (max-width: 32em)
{

	#home-wrap h1 {
		font-size: 2.5em;
	}

	#home-wrap h4 {
		font-size: 1.2em;
	}

	.full-case h2 {
		top: 2%;
		font-size: 1.8em;
	}

	.full-case p {
		bottom: 2%;
		font-size: 0.9em;
	}

	.title, .full-case img {
		min-width: 0;
	}

	#case-header-wrap h1 {
		font-size: 1.5em;
	}

	.project-info {
		float: none;
		width: 86%;
		clear: both;
		margin: 10px 0;
	}

	#visit-site {
		float: none;
		width: 100%;
		clear: both;
	}
}

#clear {
	
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

.shakeOne {
  -webkit-animation: shake .3s;
  animation: shake .3s;
}

#clear {
	position: absolute;
	bottom: 40px;
	right: 10%;
	z-index: 10;
	font-size: 1em;
	opacity: .85;
	padding: 7px 15px;
	border: 1px solid #505050;
	background: #fff;
	color: #505050;
	-webkit-transition: background .15s ease-in-out;
	-moz-transition: background .15s ease-in-out;
	-ms-transition: background .15s ease-in-out;
	-o-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
#clear:hover {
	background: transparent;
	cursor: pointer;
}