/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Roboto Slab', serif;
	line-height: 1;
	color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #333;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

/* ----- GENERAL STYLING ----- */

header, main, footer {
	width: 100%;
}

nav h4 {
	display: inline-block;
	margin: 10px 5px;
}

/* ----- HOME HEADER ----- */

#home {
	min-height: 500px;
	position: relative;
	overflow: hidden;
}

#home:before {
  content: "";
  background: url('/portfolio/images/bg.jpg');
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#home-wrap {
	padding: 200px 0 0 10%;
}

#home-wrap h1 {
	font-size: 3.5em;
}

#home-wrap a {
	color: #505050;
}

video#bgvid {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url('/portfolio/images/home-video.jpg') no-repeat;
	background-size: cover;
}

/* ----- INNER HEADER ----- */

#inner {
	min-height: 100px;
	background: url('/portfolio/images/bg.jpg');
	position: relative;
}

#inner-wrap {
	padding: 50px 0 40px 10%;
}

#inner-wrap a {
	color: #505050;
}

#inner-wrap h1 {
	font-size: 3.5em;
}

/* ----- INNER CONTENT ----- */

.content-wrap {
	margin: 30px 10%;
	min-height: 400px;
}

#gallery-wrap {
	padding: 20px 0 0 0;
	min-height: 500px;
}

.case-one {

}

.case-two {

}

/* ----- FOOTER ----- */

footer p {
	margin: height: 30px;
	line-height: 30px;
	margin: 0 10%;
}





.animateheading:before { 
 margin-right: .3em; 
 -webkit-animation: lineleft 3s linear 1s forwards; 
 -moz-animation: lineleft 3s linear 1s forwards; 
 animation: lineleft 3s linear 1s forwards; 
}

.animateheading:after  { 
  margin-left: .3em;
 -webkit-animation: lineright 3s linear 1s forwards; 
 -moz-animation: lineright 3s linear 1s forwards; 
 animation: lineright 3s linear 1s forwards; 
} 

@-webkit-keyframes lineleft {
  from { -webkit-transform: translate(0, 0); }
  to { -webkit-transform: translate(-100%, 0); }
}
@keyframes lineleft {
  from { transform: translate(0, 0); }
  to { transform: translate(-100%, 0); }
}

@-webkit-keyframes lineright {
  from { -webkit-transform: translate(0, 0); }
  to { -webkit-transform: translate(100%, 0); }
}
@keyframes lineright {
  from { transform: translate(0, 0); }
  to { transform: translate(100%, 0); }
}



