<div class="slim-content-wrap">

	<div id="about">

		<h2>I'm a Toronto-based web developer.</h2>

		<p>I am a keen learner with an eye for details both aesthetic and logical. I enjoy working in a team and accomplishing tasks in deadline-driven environments.</p>
		<p>Having previously run my own business, I am aware of the daily challenge of wearing many hats at once. As a result, I have experience with managing my time effectively, as well as prioiritizing tasks in order to accomplish goals.</p>
		<p>I enjoy making useful things that are as beautiful as they are functional. </p>

		<h2>How to reach me: </h2>

		<h3>416.458.8770</h3>
		<h3><a href="mailto:corey@coreystanford.com">corey@coreystanford.com</a></h3>

		<div id="social-icons">
			
			<a href="https://www.linkedin.com/profile/view?id=158837234" target="_blank"><i class="fa fa-linkedin-square fa-5x"></i></a>
			<a href="https://github.com/coreystanford" target="_blank"><i class="fa fa-github-square fa-5x"></i></a>
			<a href="https://www.behance.net/coreymstanford" target="_blank"><i class="fa fa-behance-square fa-5x"></i></a>

		</div>

	</div>
	
</div>