<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://www.coreystanford.com/dev/balloons" title="Balloon Room website">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Create an entertaining birthday well-wishing service, particularly aimed at those looking for a unique way to wish a Happy Birthday from afar.</p>
		</div>
		<div class="project-info">
			<h4>Solo Project</h4>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>ThreeJS</h5></li>
				<li><h5>PhysiJS</h5></li>
				<li><h5>AngularJS</h5></li>
				<li><h5>HTML</h5></li>
				<li><h5>CSS</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Software: </h4>
			<ul>
				<li><h5>Sublime Text 3</h5></li>
				<li><h5>Blender</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>6 days</h5>
		</div>
		<a id="visit-site" ng-class="btn" target="_blank" href="https://github.com/coreystanford/balloon_room" title="Balloon Room source code">View Source <i class="fa fa-chevron-right"></i></a>
		<div id="project-desc">
			<p></p>

			<p></p>

			<p></p>

			<span class="project-line"></span>

			<h4>Key Challenge:</h4>

			<p>The main challenge with such complex technology is optimization. Designing an experience that not only looks and feels right, and also loads nicely, is a fine balance. I'm continuing to looks into ways to make this a more optimized experience, as it is currently lacking on the performance front.</p>
		</div>
	</div>
	<div id="project">
		<img class="no-drop" src="./images/balloons.jpg" alt="Devices showing the responsive layout of the VanCityParks website">
		<span class="project-line"></span>
		<h4>The Blender Model</h4>
		<img src="./images/balloons1.jpg" alt="Blender Model for Balloons">
		<span class="project-line"></span>
		<h4>The Finished Balloon Mesh</h4>
		<img src="./images/balloons2.jpg" alt="Finished mesh for Balloons">
		<span class="project-line"></span>
		<h4>Initial Concept</h4>
		<img src="./images/balloons3.jpg" alt="Initial Concept for Balloons">
		<span class="project-line"></span>
		<h4>Landing Page</h4>
		<img src="./images/balloons4.jpg" alt="Landing Page for Balloons">
		<span class="project-line"></span>
		<h4>Custom Birthday View</h4>
		<img src="./images/balloons5.jpg" alt="Custom view for Balloons">
	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="glassbellows" title="Previous"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home" title="Home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="vancityparks" title="Next">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>