<div id="gallery-wrap" class="clearfix">
	
	<div class="full-case two clearfix" ui-sref="valhaven" title="Visit Valhaven">

			<div class="title">
				<h2>Visit Valhaven</h2>
				<h3>An interactive transmedia project</h3>
				<p>JavaScript / jQuery / PHP / HTML5 Video / Local Storage / ThreeJS / HTML5 / CSS3 </p>
			</div>
			<img src="./images/valhaven_1000.png" alt="Balloon Room">
			<div class="bg gal-valhaven"></div>

	</div>

	<div class="full-case one clearfix" ui-sref="balloons" title="Balloon Room">

			<div class="title">
				<h2>Balloons</h2>
				<h3>A fun interactive birthday message</h3>
				<p>ThreeJS / PhysiJS / Blender / AngularJS / HTML / CSS </p>
			</div>
			<img src="./images/balloons_800.png" alt="Balloon Room">
			<div class="bg gal-balloonroom"></div>

	</div>

	<div class="full-case two clearfix" ui-sref="vancityparks" title="VanCityParks">

			<div class="title">
				<h2>VanCityParks</h2>
				<h3>Vancouver Web Service</h3>
				<p>AngularJS / Google Maps API / PHP / JSON / XML / HTML / CSS / jQuery </p>
			</div>
			<img src="./images/vancityparks800.png" alt="VanCityParks">
			<div class="bg gal-vancity"></div>

	</div>
	<div class="full-case one clearfix" ui-sref="jibe" title="Jibe">

			<div class="title">
				<h2>Jibe</h2>
				<h3>Creative Sharing Network</h3>
				<p>PHP / AJAX / MySQL / HTML / CSS / jQuery</p>
			</div>
			<img src="./images/jibe800.png" alt="Jibe - Creative Sharing Network">
			<div class="bg gal-jibe"></div>

	</div>
	<div class="full-case two clearfix" ui-sref="mics" title="MICs Group of Health Services">

			<div class="title">
				<h2>MICs Group</h2>	
				<h3>Hospital Group CMS</h3>	
				<p>ASP.NET MVC / LINQ / AJAX / JSON / HTML / CSS / jQuery </p>	
			</div>
			<img src="./images/mics800.png" alt="MICs Group of Health Services">
			<div class="bg gal-mics"></div>

	</div>
	<div class="full-case one clearfix" ui-sref="glassbellows" title="Glass and Bellows">

			<div class="title">
				<h2>Glass + Bellows</h2>
				<h3>Photography Template</h3>
				<p>HTML / CSS / JavaScript</p>
			</div>
			<img src="./images/glassbellows800.png" alt="Glass + Bellows">
			<div class="bg gal-glassbellows"></div>

	</div>

</div>