<div id="gallery-wrap" class="clearfix">
	
	<div class="case">
		<a ui-sref="vancityparks">
			<h2>VanCityParks</h2>
			<img src="/portfolio/images/vancityparks800.png" alt="VanCityParks">
			<p>AngularJS / PHP / JSON / XML / jQuery / Google Maps API</p>
		</a>
	</div>
	<div class="case">
		<a ui-sref="jibe">
			<h2>Jibe - Creative Sharing Network</h2>
			<img src="/portfolio/images/jibe800.png" alt="Jibe - Creative Sharing Network">
			<p>PHP / jQuery / HTML / CSS</p>
		</a>
	</div>
	<div class="case">
		<a ui-sref="mics">
			<h2>MICs Group of Health Services</h2>			
			<img src="/portfolio/images/mics800.png" alt="MICs Group of Health Services">
			<p>ASP.NET MVC / C# / HTML / CSS / jQuery</p>
		</a>
	</div>
	<div class="case">
		<a ui-sref="glassbellows">
			<h2>Glass + Bellows</h2>
			<img src="/portfolio/images/glassbellows800.png" alt="Glass + Bellows">
			<p>HTML / CSS / JavaScript</p>
		</a>
	</div>

</div>