<div id="gallery-wrap">
	
	<div class="case">
		<a ui-sref="vancityparks"><img src="/portfolio/images/vancityparks800.png" alt="VanCityParks"></a>
	</div>
	<div class="case">
		<a ui-sref="jibe"><img src="/portfolio/images/jibe800.png" alt="Jibe - Creative Sharing Network"></a>
	</div>
	<div class="case">
		<a ui-sref="mics"><img src="/portfolio/images/mics800.png" alt="MICs Group of Health Services"></a>
	</div>
	<div class="case">
		<a ui-sref="glassbellows"><img src="/portfolio/images/glassbellows800.png" alt="Glass + Bellows"></a>
	</div>

</div>