<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://www.coreystanford.com/dev/glassbellows">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Make a fluidly responsive website that showcases imagery well.</p>
		</div>
		<div class="project-info">
			<h4>Solo Project</h4>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>HTML</h5></li>
				<li><h5>CSS</h5></li>
				<li><h5>JavaScript</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>10 days</h5>
		</div>
		<div id="project-desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros metus, consectetur in tortor sed, pharetra pellentesque ex. Aenean accumsan justo venenatis quam auctor placerat. Nulla sed orci in ex vulputate laoreet pharetra id erat. Nam tempus feugiat ipsum, vel egestas justo laoreet sit amet. Sed vel ante in est convallis placerat vitae eu tortor. Proin quis nisi in lectus porta eleifend sit amet a nunc. Nulla at auctor urna. Duis eu pharetra ex. Quisque porta auctor diam, sed porta dolor dapibus non. Donec tempus volutpat metus, ut ultricies tellus vehicula at. Integer orci felis, rhoncus quis mollis nec, sodales a justo. Proin efficitur urna imperdiet, rutrum felis nec, interdum nisi. Vestibulum vel enim nec ligula varius hendrerit. Nam efficitur auctor tellus et cursus. Sed vel mi velit. Phasellus varius metus sed eros luctus cursus.</p>

			<p>Nulla facilisi. Sed at mi sit amet felis pulvinar fermentum. Quisque accumsan, leo at viverra auctor, dui turpis venenatis est, sed efficitur metus mi at eros. Proin id libero vitae est pretium finibus eget eget nunc. Fusce viverra consequat quam vel porta. Curabitur sollicitudin, mi at lacinia hendrerit, diam urna faucibus elit, a cursus ipsum felis in nisl. Praesent non viverra eros.</p>
		</div>
	</div>
	<div id="project">
		<img id="devices" src="./images/glassbellows-devices.jpg" alt="Devices showing the responsive layout of the Glass and Bellows website">
		<span class="project-line"></span>
		<img src="./images/gb1.jpg" alt="Mockup for the Homepage of Glass and Bellows">
		<span class="project-line"></span>
		<img src="./images/gb2.jpg" alt="Mockup for the About page of Glass and Bellows">
		<span class="project-line"></span>
		<img src="./images/gb3.jpg" alt="Mockup for the Gallery page of Glass and Bellows">
	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="mics"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="vancityparks">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>