<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://www.coreystanford.com/dev/glassbellows" title="Glass and Bellows - photography website template">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Make a fluidly responsive website that showcases imagery well.</p>
		</div>
		<div class="project-info">
			<h4>Solo Project</h4>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>HTML</h5></li>
				<li><h5>CSS</h5></li>
				<li><h5>JavaScript</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Software: </h4>
			<ul>
				<li><h5>Sublime Text 3</h5></li>
				<li><h5>Photoshop CS6</h5></li>
				<li><h5>Illustrator CS6</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>10 days</h5>
		</div>
		<div id="project-desc">
			<p>In the winter of 2013 I was looking for a unique challenge in my spare time, and so I took up the 19th century artform of <a href="http://en.wikipedia.org/wiki/Collodion_process" title="Wet Plate Collodion on Wikipedia" target="_blank">wet plate collodion</a>. This process is chemically-intensive, time-consuming, and very complicated. I wanted to create a modern, responsive site that would nicely showcase the photography, as well as clearly explain the process in a simple, straightforward manner.</p>

			<p>The logo is inspired by the <a href="http://www.deardorffcameras.com/products-page/deardorff-cameras/4x5-special-deardorff-view-camera-duplicate-3/" title="8x10 Deardorff V8 View Camera" target="_blank">8×10 Deardorff V8 View Camera</a> from 1952 I use to make the tintypes.</p>

			<p>The main challenge in developing this template arose when attempting to get the CSS positioning of horizontal colour blocks to align nicely at the outer margins of the template. The mobile menu was also developed completely with CSS, and utilizes a checkbox to set the status of the menu.</p>

			<p>NOTE: The 'home' page and 'about' page are the only HTML pages that were developed.</p>
		</div>
	</div>
	<div id="project">
		<img class="no-drop" src="./images/glassbellows-devices.jpg" alt="Devices showing the responsive layout of the Glass and Bellows website">
		<span class="project-line"></span>
		<h4>Homepage Mockup</h4>
		<img src="./images/gb1.jpg" alt="Mockup for the Homepage of Glass and Bellows">
		<span class="project-line"></span>
		<h4>About Page Mockup</h4>
		<img src="./images/gb2.jpg" alt="Mockup for the About page of Glass and Bellows">
		<span class="project-line"></span>
		<h4>Gallery Page Mockup</h4>
		<img src="./images/gb3.jpg" alt="Mockup for the Gallery page of Glass and Bellows">
	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="mics" title="Previous"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home" title="Home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="vancityparks" title="Next">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>