<div id="home" class="home" resizable ng-style="resizeHeight" ng-class="aHome">
	<div id="home-wrap">
		<h1><a ui-sref="home">Corey Stanford</a></h1>
		<nav ng-style="navStyle">
			<h4><a ui-sref="about">About</a></h4>
			<h4><a ui-sref="contact">Contact</a></h4>
		</nav>
	</div>
	<video muted autoplay loop poster="images/home-video.jpg" id="bgvid">
		<source src="videos/home-video.webm" type="video/webm">
		<source src="videos/home-video.mp4" type="video/mp4">
		<source src="videos/home-video.ogv" type="video/ogv">
	</video>
	<a href="#" id="workBtn">Work <i class="fa fa-chevron-down"></i></a>
</div>