<div id="home" class="home" resize-h ng-style="resizeHeight" parallax p-ratio="0.5" p-css="transform:translateY">
	<canvas id="canvas" draw-canvas canvas-id="canvas" canvas-resize height="{{ canvasHeight }}" width="{{ canvasWidth }}"></canvas>
	<div id='patternOverlay'>
		<div id="home-wrap">
			<h1><a ui-sref="home">Corey Stanford</a></h1>
			<nav>
				<h4><a ui-sref="about">About</a></h4>
				<h4><a ui-sref="contact">Contact</a></h4>
			</nav>
		</div>
	</div>
	<video muted autoplay loop poster="images/home-video.jpg" id="bgvid">
		<source src="videos/home-video.webm" type="video/webm">
		<source src="videos/home-video.mp4" type="video/mp4">
		<source src="videos/home-video.ogv" type="video/ogv">
	</video>
	<a ng-click="gotoElement('gallery-wrap')" id="workBtn">Work <i class="fa fa-chevron-down"></i></a>
</div>