<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://www.coreystanford.com/dev/jibe" title="Jibe - Creative Sharing Network website">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Build a platform where creatives can share their artwork and view other people's work easily.</p>
		</div>
		<div class="project-info">
			<h4>Team Project</h4>
			<h5>4 Members</h5>
			<span class="project-info-line"></span>
			<h4>My Roles: </h4>
			<ul>
				<li><h5>Project Leader</h5></li>
				<li><h5>Lead Designer</h5></li>
				<li><h5>Developer</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>PHP</h5></li>
				<li><h5>AJAX</h5></li>
				<li><h5>MySQL</h5></li>
				<li><h5>HTML</h5></li>
				<li><h5>CSS</h5></li>
				<li><h5>jQuery</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Software: </h4>
			<ul>
				<li><h5>Sublime Text 3</h5></li>
				<li><h5>Photoshop CS6</h5></li>
				<li><h5>Vertabelo</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>2 months</h5>
		</div>
		<div id="project-desc">
			
			<p>This project is setup to allow access to the inner pages only once an individual has signed up and logged into the system. The only page that is available to anonymous users is the homepage of the site.</p>

			<p>The site is designed to make it easy to upload and share creative projects, and gain inspiration from other projects shared within the network. There are two main feeds - the personal feed, and the explore feed. The explore feed showcases the most recent additions to the site, which users can scroll through via an infinite loader. The personal feed shows the user only the projects from profiles they have chosen to follow within the network.</p>

			<p>There is a lot of functionality that is built into the network, such as a full reporting system for inappropriate content, a customizable slider on the profile page, and a top-tier content management system (which can delete users, edit categories, edit the homepage, and even control the number of projects loaded in the feeds).</p>

			<span class="project-line"></span>

			<h4>Key Challenge:</h4>

			<p>The most challenging segment of this project, besides keeping the files organized as the project scaled, was setting up the modal window within the feeds. This window allows the user to seemlessly view the content in the feed without losing their scroll position. The system uses jQuery to pass an ID in the feed (placed by PHP) to an AJAX request that passes the ID to a database request (based on the ID), and dynamically returns the results into the modal template. Implementing this feature required a lot moving parts, but it is well worth the effort because of its smooth end-user experience.</p>

		</div>
	</div>
	<div id="project">
		<img class="no-drop" src="./images/jibe-devices.jpg" alt="Devices showing the responsive layout of the Jibe website">
		<span class="project-line"></span>
		<h4>Wireframes</h4>
		<img class="no-drop" src="./images/jibe-wireframes.jpg" alt="Design concepts for the Jibe logo">
		<span class="project-line"></span>
		<h4>Database Schema</h4>
		<img class="no-drop" src="./images/jibe-schema.jpg" alt="Design concepts for the Jibe logo">
		<span class="project-line"></span>
		<h4>Homepage</h4>
		<img src="./images/jibe-homepage.jpg" alt="Final layout of the homepage for Jibe">
		<span class="project-line"></span>
		<h4>Main Feed</h4>
		<img src="./images/jibe-feed.jpg" alt="Final layout of the main feed for Jibe">
		<span class="project-line"></span>
		<h4>Project Modal Window</h4>
		<img src="./images/jibe-popup.jpg" alt="Final layout of the modal window within the feeds for Jibe">
		<span class="project-line"></span>
		<h4>User Profile</h4>
		<img src="./images/jibe-profile.jpg" alt="Final layout of the user profile for Jibe">
		<span class="project-line"></span>
		<h4>CMS - Homepage</h4>
		<img src="./images/jibe-admin.jpg" alt="Final layout of the administrative content management system for Jibe">
	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="vancityparks" title="Previous"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home" title="Home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="mics" title="Next">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>