<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://www.coreystanford.com/dev/jibe" title="Jibe - Creative Sharing Network website">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Build a platform where creatives can share their artwork and view other people's work easily.</p>
		</div>
		<div class="project-info">
			<h4>Team Project</h4>
			<h5>4 Members</h5>
			<span class="project-info-line"></span>
			<h4>My Roles: </h4>
			<ul>
				<li><h5>Project Leader</h5></li>
				<li><h5>Lead Designer</h5></li>
				<li><h5>Developer</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>PHP</h5></li>
				<li><h5>AJAX</h5></li>
				<li><h5>MySQL</h5></li>
				<li><h5>HTML</h5></li>
				<li><h5>CSS</h5></li>
				<li><h5>jQuery</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Software: </h4>
			<ul>
				<li><h5>Sublime Text 3</h5></li>
				<li><h5>Photoshop CS6</h5></li>
				<li><h5>Vertabelo</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>2 months</h5>
		</div>
		<div id="project-desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros metus, consectetur in tortor sed, pharetra pellentesque ex. Aenean accumsan justo venenatis quam auctor placerat. Nulla sed orci in ex vulputate laoreet pharetra id erat. Nam tempus feugiat ipsum, vel egestas justo laoreet sit amet. Sed vel ante in est convallis placerat vitae eu tortor. Proin quis nisi in lectus porta eleifend sit amet a nunc. Nulla at auctor urna. Duis eu pharetra ex. Quisque porta auctor diam, sed porta dolor dapibus non. Donec tempus volutpat metus, ut ultricies tellus vehicula at. Integer orci felis, rhoncus quis mollis nec, sodales a justo. Proin efficitur urna imperdiet, rutrum felis nec, interdum nisi. Vestibulum vel enim nec ligula varius hendrerit. Nam efficitur auctor tellus et cursus. Sed vel mi velit. Phasellus varius metus sed eros luctus cursus.</p>

			<p>Nulla facilisi. Sed at mi sit amet felis pulvinar fermentum. Quisque accumsan, leo at viverra auctor, dui turpis venenatis est, sed efficitur metus mi at eros. Proin id libero vitae est pretium finibus eget eget nunc. Fusce viverra consequat quam vel porta. Curabitur sollicitudin, mi at lacinia hendrerit, diam urna faucibus elit, a cursus ipsum felis in nisl. Praesent non viverra eros.</p>
		</div>
	</div>
	<div id="project">
		<img class="no-drop" src="./images/jibe-devices.jpg" alt="Devices showing the responsive layout of the Jibe website">
		<span class="project-line"></span>
		<h4>Wireframes</h4>
		<img class="no-drop" src="./images/jibe-wireframes.jpg" alt="Design concepts for the Jibe logo">
		<span class="project-line"></span>
		<h4>Database Schema</h4>
		<img class="no-drop" src="./images/jibe-schema.jpg" alt="Design concepts for the Jibe logo">
		<span class="project-line"></span>
		<h4>Homepage</h4>
		<img src="./images/jibe-homepage.jpg" alt="Final layout of the homepage for Jibe">
		<span class="project-line"></span>
		<h4>Main Feed</h4>
		<img src="./images/jibe-feed.jpg" alt="Final layout of the main feed for Jibe">
		<span class="project-line"></span>
		<h4>Project Modal Window</h4>
		<img src="./images/jibe-popup.jpg" alt="Final layout of the modal window within the feeds for Jibe">
		<span class="project-line"></span>
		<h4>User Profile</h4>
		<img src="./images/jibe-profile.jpg" alt="Final layout of the user profile for Jibe">
		<span class="project-line"></span>
		<h4>CMS - Homepage</h4>
		<img src="./images/jibe-admin.jpg" alt="Final layout of the administrative content management system for Jibe">
	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="vancityparks" title="Previous"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home" title="Home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="mics" title="Next">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>