<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://mics.web-developer.me" title="Redesigned MICs Group of Health Services website">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Redesign the <a href="http://www.micsgroup.com/" target="_blank" title="MICs Group of Health Services">MICs Group website</a> to create a unified experience that properly encompases MICs Group's three hospitals, and also makes the site useful to each of the communities being served.</p>
		</div>
		<div class="project-info">
			<h4>Team Project</h4>
			<h5>5 Members</h5>
			<span class="project-info-line"></span>
			<h4>My Roles: </h4>
			<ul>
				<li><h5>Assistant Leader</h5></li>
				<li><h5>Lead Designer</h5></li>
				<li><h5>Developer</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>ASP.NET MVC</h5></li>
				<li><h5>LINQ</h5></li>
				<li><h5>AJAX</h5></li>
				<li><h5>JSON</h5></li>
				<li><h5>HTML</h5></li>
				<li><h5>CSS</h5></li>
				<li><h5>jQuery</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Software: </h4>
			<ul>
				<li><h5>Visual Studio 2013</h5></li>
				<li><h5>Photoshop CS6</h5></li>
				<li><h5>Illustrator CS6</h5></li>
				<li><h5>Pivotal Tracker</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>3 months</h5>
		</div>
		<div id="project-desc">
			
			<p>This is a redesign concept for a group of hospitals in Northern Ontario. This group has three hospitals in three separate communities, each with its own long term care facility. The current site is bulky, disorganized, and as a result, difficult for users to navigate. The redesign aimed to make a website that is very easy to navigate each of the hospitals, their services, one of the long term care facilities, or the group itself.</p>

			<p>This was achieved by creating a navigation that combined redundant information, and pushed useful information to the forefront in order to make it easy to find on the site at any stage. The most obvious example of this is the sidebar. The accordion in the sidebar allowed us to maximize the space on each page by placing useful content in a clean manner. The community news, doctor contact, appoitment system and newsletter subscription are clearly accessible and easy to use anywhere throughout the site.</p>

			<p>Another feature that allowed for a smoother user experience is the collection of hospital links at the top of the header. These links open into modal windows that show the user only the most essential information for the location: what city it is in (with map), parking, visiting, and admittance information, alongside the long term care facility link, and , critically, what services are available at that particular location. This information was spread throughout the site in the previous navigation, and is now accessible at the top on each and every page.</p>

		</div>
	</div>
	<div id="project">

		<img class="no-drop" src="./images/mics-devices.jpg" alt="Devices showing the responsive layout of the MICs Group of Health Services website">
		<span class="project-line"></span>

		<h4>Redesigned Logo</h4>
		<img class="no-drop" src="./images/mics-logo.jpg" alt="Schema for the MICs Group of Health Services Hospital">
		<span class="project-line"></span>

		<h4>Original Navigation</h4>
		<img class="no-drop" src="./images/mics-current-navigation.jpg" alt="Schema for the MICs Group of Health Services Hospital">
		<span class="project-line"></span>

		<h4>Redesigned Navigation</h4>
		<img class="no-drop" src="./images/mics-new-navigation.jpg" alt="Schema for the MICs Group of Health Services Hospital">
		<span class="project-line"></span>

		<h4>Main Wireframe</h4>
		<img src="./images/mics-wireframe.jpg" alt="Main wireframe for the MICs Group of Health Services Hospital homepage">
		<span class="project-line"></span>

		<h4>Main Mockup</h4>
		<img src="./images/mics-mockup1.jpg" alt="Main mockup for the MICs Group of Health Services Hospital homepage">
		<span class="project-line"></span>

		<h4>Homepage</h4>
		<img src="./images/mics-homepage.jpg" alt="Final homepage layout for the MICs Group of Health Services Hospital website">
		<span class="project-line"></span>

		<h4>Hospital Modal Window</h4>
		<img src="./images/mics-popup.jpg" alt="Final modal window layout for the MICs Group of Health Services Hospital website">
		<span class="project-line"></span>

		<h4>CMS - Modal Windows</h4>
		<img src="./images/mics-admin.jpg" alt="Final layout for the administrative content management system for the MICs Group of Health Services Hospital website">

	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="jibe" title="Previous"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home" title="Home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="glassbellows" title="Next">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>