<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://mediastudies.humber.ca/transmedia/2015/" title="Visit Valhaven website">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Lead the development of an interactive transmedia project. Create custom systems to initialize/control video and load interactive modal window content in a fluid manner.</p>
		</div>
		<div class="project-info">
			<h4>Team Project</h4>
			<h5>10 Members</h5>
			<span class="project-info-line"></span>
			<h4>My Role: </h4>
			<ul>
				<li><h5>Lead Developer</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>JavaScript</h5></li>
				<li><h5>jQuery</h5></li>
				<li><h5>PHP</h5></li>
				<li><h5>HTML5 Video</h5></li>
				<li><h5>Local Storage</h5></li>
				<li><h5>ThreeJS</h5></li>
				<li><h5>HTML5</h5></li>
				<li><h5>CSS3</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Software: </h4>
			<ul>
				<li><h5>Sublime Text 3</h5></li>
				<li><h5>Photoshop CS6</h5></li>
				<li><h5>Miro Video Converter</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>6 weeks</h5>
		</div>
		<a id="visit-site" ng-class="btn" target="_blank" href="https://github.com/coreystanford/valhaven" title="Visit Valhaven source code">View Source <i class="fa fa-chevron-right"></i></a>
		<div id="project-desc">
			<p></p>
			<p></p>
			<!-- <span class="project-line"></span> -->

			<!-- <h4>Key Challenge:</h4> -->

			<p></p>

		</div>
	</div>
	<div id="project">
		<img class="no-drop" src="./images/valhaven-devices.jpg" alt="Devices showing the responsive layout of the Valhaven website">
		<span class="project-line"></span>
		<h4>Custom Video Player</h4>
		<img src="./images/video.jpg" alt="Custom video player for Valhaven.">
		<span class="project-line"></span>
		<h4>Local Storage Notebook</h4>
		<img src="./images/notes.jpg" alt="Notebook example for Visit Valhaven">
		<span class="project-line"></span>
		<h4>Three.js Interactive Modal Window</h4>
		<img src="./images/three.jpg" alt="Image of room projected inside sphere for immersive effect.">
		<span class="project-line"></span>
		<h4>HTML5 Canvas Maze Game</h4>
		<img src="./images/maze.jpg" alt="HTML5 Canvas Game">
		<span class="project-line"></span>
		<h4>Local Storage Homepage</h4>
		<img src="./images/valhaven-homepage.jpg" alt="Smart Homepage">
	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="glassbellows" title="Previous"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home" title="Home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="balloons" title="Next">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>