<div id="case-content" class="clearfix">
	<div id="synopsis">
		<a id="visit-site" ng-class="btn" target="_blank" href="http://www.coreystanford.com/dev/vancityparks" title="VanCityParks - Vancouver Web Service website">Visit Site <i class="fa fa-chevron-right"></i></a>
		<div class="project-info">
			<h4>Primary Goal:</h4>
			<span class="project-info-line"></span>
			<p>Combine various open data sources in a way that is useful to a particular demographic.</p>
		</div>
		<div class="project-info">
			<h4>Solo Project</h4>
			<span class="project-info-line"></span>
			<h4>Technologies: </h4>
			<ul>
				<li><h5>AngularJS</h5></li>
				<li><h5>Google Maps API</h5></li>
				<li><h5>PHP</h5></li>
				<li><h5>JSON</h5></li>
				<li><h5>XML</h5></li>
				<li><h5>HTML</h5></li>
				<li><h5>CSS</h5></li>
				<li><h5>jQuery</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Software: </h4>
			<ul>
				<li><h5>Sublime Text 3</h5></li>
				<li><h5>Photoshop CS6</h5></li>
			</ul>
			<span class="project-info-line"></span>
			<h4>Timeframe: </h4>
			<h5>10 days</h5>
		</div>
		<div id="project-desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros metus, consectetur in tortor sed, pharetra pellentesque ex. Aenean accumsan justo venenatis quam auctor placerat. Nulla sed orci in ex vulputate laoreet pharetra id erat. Nam tempus feugiat ipsum, vel egestas justo laoreet sit amet. Sed vel ante in est convallis placerat vitae eu tortor. Proin quis nisi in lectus porta eleifend sit amet a nunc. Nulla at auctor urna. Duis eu pharetra ex. Quisque porta auctor diam, sed porta dolor dapibus non. Donec tempus volutpat metus, ut ultricies tellus vehicula at. Integer orci felis, rhoncus quis mollis nec, sodales a justo. Proin efficitur urna imperdiet, rutrum felis nec, interdum nisi. Vestibulum vel enim nec ligula varius hendrerit. Nam efficitur auctor tellus et cursus. Sed vel mi velit. Phasellus varius metus sed eros luctus cursus.</p>

			<p>Nulla facilisi. Sed at mi sit amet felis pulvinar fermentum. Quisque accumsan, leo at viverra auctor, dui turpis venenatis est, sed efficitur metus mi at eros. Proin id libero vitae est pretium finibus eget eget nunc. Fusce viverra consequat quam vel porta. Curabitur sollicitudin, mi at lacinia hendrerit, diam urna faucibus elit, a cursus ipsum felis in nisl. Praesent non viverra eros.</p>
		</div>
	</div>
	<div id="project">
		<img class="no-drop" src="./images/vancityparks-devices.jpg" alt="Devices showing the responsive layout of the VanCityParks website">
		<span class="project-line"></span>
		<h4>Main Park Map</h4>
		<img src="./images/vancity-home.jpg" alt="Design concepts for VanCityParks">
		<span class="project-line"></span>
		<h4>Off-Canvas Menu</h4>
		<img src="./images/vancity-menu.jpg" alt="Design concepts for VanCityParks">
		<span class="project-line"></span>
		<h4>Park Information & Directions</h4>
		<img src="./images/vancity-info.jpg" alt="Design concepts for VanCityParks">
		<span class="project-line"></span>
		<h4>Dynamic Search & Directions</h4>
		<img src="./images/vancity-search.jpg" alt="Design concepts for VanCityParks">
		<img src="./images/vancity-search-info.jpg" alt="Design concepts for VanCityParks">
	</div>
	<div id="case-nav">
		<a id="prev" ng-class="btn" ui-sref="glassbellows" title="Previous"><i class="fa fa-chevron-left"></i> Prev</a>
		<a id="go-home" ng-class="btn" ui-sref="home" title="Home"><i class="fa fa-home"></i></a>
		<a id="next" ng-class="btn" ui-sref="jibe" title="Next">Next <i class="fa fa-chevron-right"></i></a>
	</div>
</div>